<!DOCTYPE HTML>
<html>
<body>
    <div style='margin-bottom: 5px;'>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Выход"/>
        </form>
    </div>
    <div style='margin-bottom: 10px;'>
        <form method="post">
            <input type="text" name="name" placeholder="Введите название товара"/>
            <input type="text" name="description" placeholder="Описание">
            <input type="text" name="count" placeholder="Количество">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div style='margin-bottom: 5px;'>Список заказов</div>
    <div style='margin-bottom: 10px;'>
        <form method="post" action="filter">
            <input type="text" name="filter">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Поиск</button>
        </form>
    </div>
    {{#orders}}
        <div>
            <strong>{{authorName}}: </strong>
            <span><i>Название: </i><b>{{name}}</b></span>
            <i>Описание: </i><b>{{description}}</b>
            <i>Количество: </i><b>{{count}}</b>
        </div>
    {{/orders}}
</body>
</html>